@media (max-width: 1975px){
    [class*="__container"]{
        max-width: 1440px;
    }
    .textDescription h1{
        font-size: 70px;
    }
    .textDescription h3{
        font-size: 20px;
    }
    .btn:link,
    .btn:visited{
        font-size: 20px;
    }
    .OneDevice{
        font-size: 70px
    }
    .solution__list{
        font-size: 20px;
    }
    .solutin__photo img{
        width: 400px;
    }
    .textDescription{
        padding-right: 50px;
    }
    .application h3{
        font-size: 30px;
    }
    .social_network h3{
        font-size: 30px;
    }
}

@media (max-width: 1640px){
    [class*="__container"]{
        max-width: 1024px;
    }
    .menu__list{
        display: flex;
        justify-content: center;
    }
    .menu__item{
        margin-right: 30px;
    }
    .header__logo{
        flex: 0 0 80px;
        overflow: hidden;
    }
    .image__device img{
        width: 400px;
    }
    .textDescription{
        padding-right: 0px;
    }
    .textDescription h1{
        font-size: 50px;
    }
    .textDescription h3{
    line-height: 35px;
    } 
    .OneDevice {
        font-size: 50px;
    }
    .main__container{
        padding-top: 60px;
    }
    .solution__list{
        line-height: 40px;
        
    }
    .image__device img{
        padding-top: 70px;
        width: 300px;
    }
    .main2__container{
        padding-bottom: 70px;
    }
    .application h3{
        font-size: 20px;
    }
    .social_network h3{
        font-size: 20px;
    }
    .application_icon img{
        width: 130px;
        height: 50px;
    }
    .social_network_icon img{
        width: 70px;
    }
}

@media (max-width: 1024px){
    [class*="__container"]{
        max-width: 768px;
    }
    .menu__item{
        font-size: 12px
    }
    .shoping__cart img{
        width: 50px;
    }

    .textDescription h1{
        padding-right: 0px;
        font-size: 27px;
    }
    .textDescription h3{
        padding-right: 30px;
        font-size: 15px;
    line-height: 30px;
    } 
    .btn:link,
    .btn:visited{
        font-size: 15px;
    }
    .image__device img{
        padding-top: 30px;
        width: 300px;
    }
    .textDescription h3{
        line-height: 25px;
    } 
    .OneDevice {
            font-size: 30px;
            display: flex;
            justify-content: center;
    }
    .solutin__photo img{
        width: 300px;
    }
    .main2__container{
        padding-top: 70px;
    }
    .OneDevice{
        margin-right: 0px;
    }
    .solution__list{
        padding-top: 0px;
        padding-right: 30px;
        font-size: 15px;
    }
    .application_icon img{
        width: 100px;
        height: 30px;
    }
    .social_network_icon img{
        width: 40px;
        padding-right: 2px;
    }
.application_icon_link{
    padding-right: 0px;
}
    .social_network_icon_link{
        padding-right: 7px;
    }
    .application h3{
        padding-right: 3px;
    }
    .social_network h3{
        padding-right: 15px;
    }

    .otherModul{
        margin-right: 100px;
        margin-left: 20px;
    }
    
    .baseModel{
        margin-left: 100px;
        margin-right: 20px;
    }
    

    .swiper {
        position: absolute;
        max-width: 290px;
        height: 200px;
        margin: 100px 0px 100px 20px;
        left: 18%;
      }

      .swiper img{
        max-width: 200px;
        height: 200px;
      }
    
    .swiper-slide{
        text-align: center;
    
    }
    .swiper__container{
    background-color: #64CCC5;
    }
    
    .main3_container2{
        display: flex;
        background-color: #04364A;
        border-radius: 100px;
    }
    
    .add_t_cart_wrapper img{
        width: 200px;
        height: 200px;
        margin-top: 100px;
        margin-left: 100px;
    }
    .add_t_cart_wrapper{
        width: 100px;
        height: 100px;
    }

    .HowToUse_video iframe {
        width: 80%;
        height: 40vh;
    }
}

@media (max-width: 768px){
    [class*="__container"]{
        max-width: 425px;
        padding-right: 20px;
        padding-left: 20px;
    }
    
    .menu__item{
        font-size: 7px
    }
    .shoping__cart img{
        width: 30px;
    }
    .header__logo{
        flex: 0 0 58px
    }
    .header__logo img{
    width: 200px;
    }
    .Description{
        padding-top: 20px;
    }

    .textDescription h1{
        padding-right: 0px;
        margin-right: 40px;
        font-size: 16px;
    }
    .textDescription h3{
        padding-top: 10px;
        padding-bottom: 15px;
        padding-right: 10px;
        font-size: 10px;
    } 
    .btn:link,
    .btn:visited{
        font-size: 10px;
    }
    .image__device img{
        padding-top: 30px;
        width: 150px;
    }
    .textDescription h3{
        line-height: 20px;
    } 
    .OneDevice {
            font-size: 16px;
            display: flex;
            justify-content: center;
    }
    .solutin__photo img{
        width: 150px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .main__container{
        padding: 30px 20px 75px 20px;
    }
    .main2__container{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .OneDevice{
        padding-bottom: 0px;
        margin-right: 0px;
    }
    .solution__list{
        padding-top: 0px;
        padding-right: 15px;
        font-size: 10px;
        line-height: 35px;
    }
    .solution{
        flex-direction: column-reverse;
        align-items: center;
    }

.application_icon_link{
    padding-right: 0px;
}
    .social_network_icon_link{
        padding-right: 7px;
    }
    .application h3{
        font-size: 12px;
    }
    .social_network h3{
        font-size: 12px;
    }
    .main2__container li::before {
        padding: 4px 10px;
        border-radius: 50px;
    }
    .text_bottom_slider{
        display: flex;
    }
        
        .otherModul{
            margin-right: 20px;
            margin-left: 20px;
        }
        
        .baseModel{
            margin-left: 20px;
            margin-right: 20px;
        }
        
        .basic_kit{
            margin-bottom: 0px;
        
        }
        
        .price{
            margin-bottom: 20px;
        }
        .HowToUse h1{
            font-size: 20px;
        }

.how-toUse{
    margin-top: 20px;
    margin-bottom: 20px;
}

        .how-toUse h1{
            font-size: 20px;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        
        .add_to_cart {
            display: inline-block; 
            box-sizing: border-box;
            padding: 0 25px;
            margin: 0 15px 15px 0;
            outline: none;
            border: 0px solid #fff;
            border-radius: 50px;
            height: 46px;
            line-height: 46px;
            font-size: 14px;
            font-weight: 600;
            text-decoration: none;
            color: #64CCC5;
            background-color: #04364A;
            box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
            cursor: pointer;
            user-select: none;
            appearance: none;
            touch-action: manipulation; 
            vertical-align: top;
            transition: box-shadow 0.2s;
        }
        .add_to_cart:focus-visible {
            border: 1px solid #04364A;
            outline: none;
        }
        .add_to_cart:hover {
            transition: all 0.2s;
            box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
        }
        .add_to_cart:active {
            background-color: #176B87;
        }
        .add_to_cart:disabled {
            background-color: #04364A;
            color: #4c51f9;
            cursor: not-allowed;
        }
        .swiper {
            position: absolute;
            max-width: 180px;
            height: 110px;
            margin: 100px 0px 100px 20px;
            left: 13%;
          }

          .swiper img{
            max-width: 100px;
            height: 100px;
          }
        
        .swiper-slide{
            text-align: center;
        
        }
        .swiper__container{
        background-color: #64CCC5;
        }
        
        .main3_container2{
            display: flex;
            background-color: #04364A;
            border-radius: 100px;
        }
        
        .add_t_cart_wrapper img{
            width: 100px;
            height: 100px;
            margin-top: 100px;
            margin-left: 40px;
        }
        .add_t_cart_wrapper{
            width: 100px;
            height: 100px;
        }
        
        .add_to_cart{
            display: flex;
        
        }
        
        .text-box{
            margin: auto;
            justify-content: space-between;
        }

        .HowToUse_video iframe {
            width: 80%;
            height: 20vh;
        }

    

}


.text_bottom_slider__container{

    flex-wrap: wrap;

    }

@media (max-width: 425px){
    [class*="__container"]{
        max-width: 250px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .menu__item{
        padding-left: 5px;
        margin-right: 5px;
    }
    .header__container{
        padding: 0px;
    }

    .flexihelp_block h1{
        font-size: 15px;
    }

    .Description h3{
        font-size: 7px;
    }

    .textDescription h3{
        line-height: 13px;
    }

    .image__device{
        width: 100px;
        height: 100px;
    }

    .image__device img{
        height: 100px;
        padding-top: 50px;
    }

    .header__logo{
        flex: 0 0 40px;
    }
    .header__logo img{
    width: 150px;
    }
    .shoping__cart img{
        width: 25px;
    }

    .menu__list{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .solution__list{
        line-height: 20px;
    }

    .text_bottom_slider h3{
        font-size: 15px;
    }
    .basic_kit{
        justify-content: center;
    }
    .text_bottom_slider__container{
        justify-content: center;
        text-align: center;
        font-size: 15px;
    }

    .baseModel{
        margin-bottom: 15px;
    }

    .add_to_cart{
        margin: auto;
    }

    .HowToUse_video iframe {
        width: 80%;
        height: 15vh;
        margin: 0 auto;
        display: block;
        text-align: center;
        padding: 30px 30px 30px 30px;
        margin-top: 20px;
        margin-bottom: 50px;
        border-radius: 30px;
        background-color: #176B87;
}
.add_t_cart img{
    margin-left: 20px;
    margin-right: 10px;
}
.swiper {
    position: absolute;
    max-width: 200px;
    height: 100px;
    margin: 50px 0px 50px 20px;
    left: 5%;
  }
  .swiper img{
    max-width: 70px;
    height: 100px;
  }

  .add_t_cart_wrapper img{
    width: 70px;
    height: 70;
    margin-top:50px;
  }
  .application h3{
    font-size: 10px;
  }


  .application_icon img{
    
    width: 80px;
    height: 20px;
}
.social_network_icon img{
    width: 30px;
    padding-right: 2px;
}

